/*Header */

.cabecera__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecera__buscar__item {
    display: none;
}

/* Barra Lateral configurada a movil primero*/
.menu__container {
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
    
}

 .menu__lista {
    display: flex;
    justify-content: space-around;
    height: 100%;
 }

 .menu__lista li {
    align-self: center;
 }

/*Para ocultar las otras tres listas*/

 .menu__lista:nth-child(2),
 .menu__lista:nth-child(3),
 .menu__lista:nth-child(4) {
    display: none;
 }

.menu__itens {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

/* Sección superior */

.superior__seccion__container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: scroll;
    gap: 15px;
}

/*Videos*/

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videos__item {
    height: 303px;
    width: 280px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.descripcion-video {
    display: flex;
    align-items: center;
    padding: 1em;
}

.detalles__video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

/* Footer */

.rodapie__container {
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap; 
    hacen lo mismo que ésta
    */
    flex-flow: column wrap;

}

/*Media para celulares */

@media (min-width: 834px) {
    .cabecera__buscar__item {
        display: block;
    }    
    
    .rodapie__container {
        justify-content: space-between;
    }

    .menu__container {
        position: fixed;
        bottom: 0%;
        width: 74px;
        top: 80px;
        height: auto;
        
    }
    
     .menu__lista {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        padding-top: 0px;
     }
    
     .menu__lista li {
        align-self: center;
     }
}

@media (min-width:1440px) {

    .menu__container {
        width: 239px;
        overflow: scroll;
    }


    .menu__lista {
        height: auto;
        padding: 20px 17px 20px 15px;
        gap: 15px;
    }

    .menu__lista:nth-child(2),
    .menu__lista:nth-child(3),
    .menu__lista:nth-child(4) {
       display: flex;
    }

    .menu__lista:nth-child(3) {
        flex-direction: column-reverse;
    }

    .videojuegos {
        order: 3;
    }

    .peliculas {
        order: 2;
    }

    .premium {
        order: 1;
    }
    

    .menu__itens {
        flex-direction: row;
        gap: 15px;
        align-items: center;
    }
}
